nameOverride: "hello-app-go-sample-test"
fullnameOverride: "hello-app-go-sample-test"
replicaCount: 3
autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80